.calculator {
    width: 18%;
    height: 70vh;
    display: grid;
    grid-template-rows: 0.7fr 1fr;
    background-image: linear-gradient(to bottom right, #252930, #090E0F);
    border-radius: 15px;
    overflow: hidden;
}