* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

section {
  background-image: linear-gradient(to bottom right, #2666C7, #8EE8FB);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}